@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}
<p class="display-6">Incoming Courses</p>
<div class="row">
    <ul class="list-group w-50">
        <li class="container text-start list-group-item list-group-item-light">
            <div class="row">
                <h5 class="col ms-3 me-3">Time</h5>
                <h5 class="col ms-3 me-3">
                    Category
                </h5>
                <h5 class="col ms-3 me-3">
                    Lecturer
                </h5>
            </div>
        </li>
        @foreach (var course in Model)
        {
            <li class="container text-start list-group-item">
                <div class="row">
                    <div class="badge bg-info col ms-3 me-3">@course.DateTime.ToString()</div>
                    <div class="badge bg-secondary col ms-3 me-3">
                        @course.Category.Name
                    </div>
                    <div class="col ms-3 me-3">
                        @course.Lecturer.Name
                    </div>
                </div>

            </li>
        }
    </ul>
</div>

